@using System.Linq
@model CarHub.Models.VehicleInputViewModel
@{
    ViewData["Title"] = "Add Car";
}

<div class="flex flex-col items-stretch">
    <div class="px-2 md:px-4 py-4 text-center bg-gray-200">
        <h4 class="text-5xl font-bold text-indigo-700 font-sans">Add New Car</h4>
    </div>

    <div class="mx-auto w-full max-w-xl my-8 rounded-lg shadow-lg bg-white px-8 py-4">
        <h5 class="text-lg text-gray-600">Enter the vehicle details below</h5>
        <div class="w-full">
            <form asp-action="AddNewCar" class="flex flex-col items-stretch gap-y-2 pb-2">
                <partial name="_VehicleFormPartial" for="@Model"></partial>
            </form>
        </div>
    </div>

    <div class="mx-auto w-full max-w-xl px-8 py-4 flex">
        <a class="btn bg-gray-300 text-gray-800 hover:bg-gray-500 transition duration-100 ease-in font-bold font-sans" asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }


</div>