@model CarHub.Models.VehicleMakeViewModel

@{
    ViewData["Title"] = "Add Vehicle Make";
}

<div class="flex flex-col items-stretch">
    <div class="px-2 md:px-4 py-4 text-center bg-gray-200">
        <h4 class="text-5xl font-bold text-indigo-700 font-sans">Add Vehicle Make</h4>
    </div>

    <div class="mx-auto w-full max-w-xl my-8 rounded-lg shadow-lg bg-white px-8 py-4">
        <h5 class="text-lg text-gray-600">Enter the vehicle make below</h5>
        <div class="w-full">
            <form asp-action="Add" class="flex flex-col items-stretch gap-y-2 pb-2">
                <div class="flex flex-col">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="flex items-stretch gap-x-2">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                    <a class="btn bg-gray-300 text-gray-800 hover:bg-gray-500 transition duration-100 ease-in font-bold font-sans" asp-action="Index">Cancel</a>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>